body {
    background: rgb(234, 151, 75);
    background: linear-gradient(342deg, rgba(234, 151, 75, 1) 0%, rgba(80, 245, 209, 1) 100%);
}

.main {
    border-radius: 10px;
    color: magenta;
    background-color: cyan;
    }

.document {
    height: 500px;
    width:700px;
}
header {
    padding-bottom: 10px;
    background: green;
}

.logo {
    height: 50px;
    width: 50px;
    padding-left: 5px;
    padding-top: 5px;
}

a {
    padding-right: 7px;
    padding-left: 7px;
}